/* Style sheet for index, portfolio, and contact pages */

/* Navigation bar must match sizing of main container */
footer {
    text-align: center;
    color: #fff;
}
@media screen and (max-width: 768px) {
    body {
      text-align: left;
    }
    .wrapper {
      width: 100%;
    }
  }

  @media screen and (max-width: 640px) {
    body {
      text-align: center;
    }
    .navbar {
        align-content: center;
    }
    .wrapper {
      width: 100%;
    }
  }