/* Style sheet for index, portfolio, and contact pages */

/* Navigation bar must match sizing of main container */
footer {
    text-align: center;
}
@media screen and (max-width: 768px) {
    body {
      text-align: left;
    }
    .wrapper {
      width: 600px;
    }
  }

  @media screen and (max-width: 640px) {
    body {
      text-align: center;
    }
    .wrapper {
      width: 600px;
    }
  }